# Lock files
*.lock

# Data
data/stochastic_navier_stokes/
*.npz

# Logs
logs/

# __pycache__
__pycache__/

# Outputs
outputs/

# Checkpoints
checkpoints/


# Pixi
.pixi/

# Cache
cache/

# Figures
figures/

# Archive
archive/
